{% extends "base.html" %}

{% block title %}Seek Table{% endblock %}


{% block content %}

{% load render_table from django_tables2 %}


<!doctype html>
<html>
    <head>
        <title>Seek table</title>
    </head>
    <body>
        <!-- {% render_table tabledata %} -->

        <table id="seekTable" style="font-family:'monospace';" border="1" class="table">
            <tr>
                <th>Individual Name</th>
                <th>Individual ID</th>
                <th>SEEK Code</th>
            </tr>
        <script type="text/javascript">
            var array = {{seek_identities|safe}}
            seekTable = document.getElementById('seekTable');
            for(var i = 0; i < array.length; i++){
                var newRow = seekTable.insertRow(seekTable.length);
                for(var j = 0; j < array[i].length; j++){
                    var cell = newRow.insertCell(j);
                    cell.innerHTML = array[i][j];
                }
            }

        </script>
    </body>
</html>

{% endblock %}
